function codition

In [115]:
a='gaurav'
if a==a[::-1]:
    print(f' {a} is a palindrome')
else:
    print(f' {a} not a palindrome')

 gaurav not a palindrome

In [40]:
def check_palindrome(word:str):
    if type(word)==str:
        word=word.upper()
        if word==word[::-1]:
            return 'palindrome'
        else:
            return 'not a palindrome'
    else:
        return ' invalid datatype'

In [43]:
check_palindrome(121)

' invalid datatype'

In [47]:
def give_fibo(n):
    fibo=[0,1]
    for i in range(n-2):
        last=fibo[-1]
        second=fibo[-2]
        next_num=last + second
        fibo.append(next_num)
    return fibo

In [48]:
print(give_fibo(20))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181]

In [52]:
a=int(input("enter a number"))
for i in range(2,a):
    if a%i==0:
        print('not a prime number')
        break
    else:
        print('prime number')

enter a number 3

prime number

In [53]:
def check_prime(number):
    for i in range(2,number):
        if number%i==0:
            return 'not a prime number'
            break
        else:
            return 'prime number'

In [54]:
print(check_prime(20))

not a prime number

In [55]:
print('hello'+'world')

helloworld

In [57]:
print('hello'*0)

In [58]:
n=5
for i in range(1,n+1):
    print(' '*(n-i) + i*'* ')

    *
   * *
  * * *
 * * * *
* * * * *

In [80]:
def print_star(n = 5, typ = 'left',shape = '*'):
  if typ  == 'left':
    space  = ''

  elif typ == 'right':
    space = '  '

  elif typ == 'mid':
    space = ' '

  for i in range(1,n+1):
    print(space*(n-i) + i*f'{shape} ')

In [81]:
print_star(6,'left','%')

%
% %
% % %
% % % %
% % % % %
% % % % % %

In [84]:
def print_star(n =5 ,typ='left',shape='iitm'):
    if typ=='left':
        space=''
    elif typ=='right':
        space='  '
    elif typ=='mid':
        space=' '
    for i in range (1,n+1):
        print(space*(n-i) + i*f'{shape} ')

In [91]:
print_star(6,'mid','$')

          $
        $ $
      $ $ $
    $ $ $ $
  $ $ $ $ $
$ $ $ $ $ $

In [93]:
def sum_of_natural_number(n):
    sum=0
    for i in range(1,n+1):
        sum=sum+i
    return sum

In [94]:
sum_of_natural_number(21)

231

In [97]:
def factorial(n):
    result=1
    for i in range(1,n+1):
        result=result*i
    return result

In [100]:
factorial(3)

6

In [ ]:
#factorial is used to calculate permutation

In [102]:
def total_sales(*args):
    result=0
    for i in args:
        result=result+i
    return result

In [105]:
total_sales(1,2,30)

33

In [46]:
def total_sales(*args):
    result=0
    for i in args:
        result+=i
    return result

In [ ]:
sales=[200,250,600,700,876,120]
# find minimum value

In [5]:
total_sales(1,2,3,45)

51

In [107]:
sales=[200,250,600,700,876,120]
# find minimum value
min_val=sales[0]
for i in sales[1:]:
    if i <min_val:
        min_val=i
print(min_val)

120

In [111]:
def minn(*data):
    min_val=data[0]
    for i in data[1:]:
        if i<min_val:
            min_val=i
    return min_val

In [112]:
minn(12,34,56,67,78,8,91,1)

1

In [ ]:
min_element=sales[0]
for i in sales[1:]:
    print(i)

In [6]:
sales = [45678,63,456,2,0]
min_element = sales[0]

for i in sales[1:]:
  if i < min_element:
    min_element = i
print(min_element)

0

In [113]:
def max_ele(*data):

    max_element = data[0]

    for i in data[1:]:
      if i > max_element:
        max_element = i
    print( max_element)

In [114]:
max_ele(12,34,67,8)

67

In [29]:
def minn(*data):
  min_ele = data[0]
  for i in data[1:]:
    if i< min_ele:
      min_ele = i
  return min_ele

In [30]:
minn(376,246,354,8,667,468)

8

In [31]:
company = ['ola','uber','rapido','indrive','adani','tata']

# ['#OLA','#UBER','#RAPIDO']



def add_hashtag(*company):
  result = []
  for i in company:
    result.append('#'+i.upper())
  return result

In [34]:
add_hashtag(*company)

['#OLA', '#UBER', '#RAPIDO', '#INDRIVE', '#ADANI', '#TATA']

In [ ]:
def store_record(name,age,sec,roll_no,