#try and exception

In [1]:
age = '23'

try:
  # print(1/0)
  print(vari)
  if age >= 18:
    print('can vote')
  else:
    print('can\'t vote')
except TypeError:
  print('Something went wrong!!')
  print('Invalid datatype comparison!!')

except:
  print('Invalid Code!!')

Invalid Code!!

In [13]:
def student_record(**kwargs):
    import pandas as pd
    try:
        data=pd.DataFrame(kwargs)
        return data
    except:
        data=pd.DataFrame(kwargs,index=[1])
        return data

In [14]:
student_record(Name=['ajay','rahul','sohan','mohan'],
               age=[20,12,23,21],
               sec=list('ABCD'),
               address=['delhi','patna','rajouri','noida'])

    Name  age sec  address
0   ajay   20   A    delhi
1  rahul   12   B    patna
2  sohan   23   C  rajouri
3  mohan   21   D    noida

In [19]:
def show_time():
    try:
        while True:
            import time
            print(time.asctime())
            time.sleep(1)
            display(clear=True)
    except:
        print('timer has been stoped!!')

In [20]:
show_time()

Fri Jul  4 10:39:41 2025
timer has been stoped!!

In [31]:
import Gaurav as G
print('Done')

Done

In [33]:
G.print_star(typ='mid')

    *
   * *
  * * *
 * * * *
* * * * *

In [34]:
G.check_prime(20)

'not a prime number'

In [35]:
G.factorial(4)

24

In [37]:
G.print_star(typ='mid',shape='#')

    #
   # #
  # # #
 # # # #
# # # # #

In [ ]:
#shift tab is used to show the arguments

In [38]:
G.give_fibo(6)

[0, 1, 1, 2, 3, 5]

In [39]:
G.sound_box(299)

pygame 2.6.1 (SDL 2.28.4, Python 3.12.7)
Hello from the pygame community. https://www.pygame.org/contribute.html

In [40]:
G.check_palindrome('nitin')

'palindrome'

In [2]:
G.sound_box(12)

NameError: name 'G' is not defined

In [3]:
import Gaurav as G
print('Done')

this is Gaurav nodule in python
       https://www.google.com/
Done

In [4]:
G.sound_box(12)

pygame 2.6.1 (SDL 2.28.4, Python 3.12.7)
Hello from the pygame community. https://www.pygame.org/contribute.html

In [ ]:
#restart kernal after function changes

In [3]:
from Gaurav import max_ele
print('Done')

Done

In [4]:
max_ele(1,23,45,67,8,9)

67

In [5]:
from Gaurav import sum_of_natural_number
sum_of_natural_number(20)

210

In [7]:
import turtle
print('Done')

Done

In [ ]:
#pypi is a website

In [11]:
import turtle
for i in range(4):
    turtle.circle(100)
    turtle.left(3)

In [2]:
import turtle
for i in range(120):
  turtle.speed(0)
  turtle.bgcolor('black')
  col=['red','yellow','green','orange']
  import random
  pc=random.choice(col)
  turtle.color(pc)
  turtle.circle(100)
  turtle.left(3)

In [ ]:
import turtle
for i in range(6):

file handling

In [ ]:
 1:- Text File
#
# .py,.html, .csv, .tsv, .css, .java, .c, c++,. json, .js,
# 2: Binary File
# Software
# .pdf, .mp3, mp4, .png, .jpeg, .exe, .zip, .dat, .tar .xlsx, .ppt, .doc, .ipynb

In [ ]:
# handling:- read, write, copy, append, delete, open, new

In [7]:
file=open("Gaurav.py",mode='r')
print(file.read(100))
# file.close()

print('''this is Gaurav nodule in python
       https://www.google.com/''')

def check_palindrome(wo

In [8]:
#100 is for printing 100 chracters including space

In [15]:
file=open("Gaurav.py",mode='r')
for i in range(109):
     print(file.readline())

print('''this is Gaurav nodule in python

       https://www.google.com/''')



def check_palindrome(word:str):

    if type(word)==str:

        word=word.upper()

        if word==word[::-1]:

            return 'palindrome'

        else:

            return 'not a palindrome'

    else:

        return ' invalid datatype'



def give_fibo(n):

    fibo=[0,1]

    for i in range(n-2):

        last=fibo[-1]

        second=fibo[-2]

        next_num=last + second

        fibo.append(next_num)

    return fibo



def check_prime(number):

    for i in range(2,number):

        if number%i==0:

            return 'not a prime number'

            break

        else:

            return 'prime number'



def print_star(n = 5, typ = 'left',shape = '*'):

  if typ  == 'left':

    space  = ''



  elif typ == 'right':

    space = '  '



  elif typ == 'mid':

    space = ' '



  for i in range(1,n+1):

    print(space*(n-i) + i*f'{shape} ')



def sum_of_natural_number(n):

    sum=0

    for i in range(1,n+1):

        sum=sum+i

    return sum





def factorial(n):

    result=1

    for i in range(1,n+1):

        result=result*i

    return result



def total_sales(*args):

    result=0

    for i in args:

        result=result+i

    return result



def minn(*data):

    min_val=data[0]

    for i in data[1:]:

        if i<min_val:

            min_val=i

    return min_val



def max_ele(*data):



    max_element = data[0]



    for i in data[1:]:

      if i > max_element:

        max_element = i

    print( max_element)









def add_hashtag(*company):

  result = []

  for i in company:

    result.append('#'+i.upper())

  return result



def student_record(**kwargs):

    import pandas as pd

    try:

        data=pd.DataFrame(kwargs)

        return data

    except:

        data=pd.DataFrame(kwargs,index=[1])

        return data



def show_time():

    try:

        while True:

            import time

            print(time.asctime())

            time.sleep(1)

            display(clear=True)

    except:

        print('timer has been stoped!!')



def sound_box(paisa):

    from gtts import gTTS

    text=f'''phonepe par {paisa} rupees prapt hue.'''

In [17]:
file=open("Gaurav.py",mode='r')
for i in range(10):
   if i==4:
       print(file.readline())
   else:
       file.readline()

    if type(word)==str:

In [18]:
file=open("Gaurav.py",mode='r')
data=file.readlines()
file.close()
print('done')

done

In [20]:
data[5:40]

['        word=word.upper()\n',
 '        if word==word[::-1]:\n',
 "            return 'palindrome'\n",
 '        else:\n',
 "            return 'not a palindrome'\n",
 '    else:\n',
 "        return ' invalid datatype'\n",
 '\n',
 'def give_fibo(n):\n',
 '    fibo=[0,1]\n',
 '    for i in range(n-2):\n',
 '        last=fibo[-1]\n',
 '        second=fibo[-2]\n',
 '        next_num=last + second\n',
 '        fibo.append(next_num)\n',
 '    return fibo\n',
 '\n',
 'def check_prime(number):\n',
 '    for i in range(2,number):\n',
 '        if number%i==0:\n',
 "            return 'not a prime number'\n",
 '            break\n',
 '        else:\n',
 "            return 'prime number'\n",
 '\n',
 "def print_star(n = 5, typ = 'left',shape = '*'):\n",
 "  if typ  == 'left':\n",
 "    space  = ''\n",
 '\n',
 "  elif typ == 'right':\n",
 "    space = '  '\n",
 '\n',
 "  elif typ == 'mid':\n",
 "    space = ' '\n",
 '\n']

In [22]:
for i in data[:16]:
    print(i)

print('''this is Gaurav nodule in python

       https://www.google.com/''')



def check_palindrome(word:str):

    if type(word)==str:

        word=word.upper()

        if word==word[::-1]:

            return 'palindrome'

        else:

            return 'not a palindrome'

    else:

        return ' invalid datatype'



def give_fibo(n):

    fibo=[0,1]

    for i in range(n-2):