In [1]:
#list is a collection of homogenous element of different datatype .list is enclosed with square b
#bracket .list is mutable 
#tuple is collection of elements enclosed with rounded brackets .It is immutable which means  be changes 
  # cannot be changes 
#list=[1,2,3,4,'ram','True']
#tuple(1,2,3,4,5,'hello')

h

In [6]:
#ans 2 Input function takes the input from the user .it return the string return type
#we can use typecastiong to convert in an integer 
age = int(input("Enter your age: "))
print(type(age))

Enter your age:  23

<class 'int'>

In [3]:
# ans 3 python dictionary are used to store the data in keys value pairs.
#here the keys are index and value are values.
dict={'name':'gaurav','age':22,}
print(dict)

{'name': 'gaurav', 'age': 22}

In [5]:
#ans 4 For loop is used to repeat a block of statements until the condition is met
for i in range(1,6,1):
    print(i)

1
2
3
4
5

In [ ]:
#Exception handling is used to handle the errors dring the execution of a program
try:
    a = int(input("Enter  number: "))
    b = int(input("Enter  number: "))
    result = a / b
    print("Result is:", result)

except ZeroDivisionError:
    print(" Error: Cannot divide by zero!")



finally:
    print(" hello")

In [ ]:
#python modules is a file that contains functions and  methods

In [ ]:
# import math is a module . this module perform mathmatical calculations
# from math import sqrt - here math is a module and sqrt is a function

In [8]:
# ans 8 list comprehenion is a one line code 
a = [x * 2 for x in range(0,10,1) if x % 2 == 0]
print(a)

[0, 4, 8, 12, 16]

In [10]:
def calculate_area(r):
    area=3.14*r**2
    return area

In [11]:
calculate_area(3)

28.26

In [13]:
# ans 10 
name = input("enter your name")
age = input("enter your age")
print(f"Hello {name}, you are {age} years old")

enter your name gaurav
enter your age 12

Hello gaurav, you are 12 years old

In [14]:
list=['apple','banana','grapes','papaya','orange']
for index_no,name in enumerate(list):
    print(index_no,name)

0 apple
1 banana
2 grapes
3 papaya
4 orange

In [17]:
#ans 12
def grade_calculator():
    marks=int(input('enter a marks'))
    if marks>=90 and marks<=100:
        print("A")
    elif marks>=80 and marks<=89:
        print("B")
    elif marks>=70 and marks<=79:
        print("C")
    elif  marks>=60 and marks<=69:
        print("D")
    else:
        print("F")

In [18]:
grade_calculator()

enter a marks 56

F

In [24]:
#ans 14 
class Bank:
    def __init__(self, name, accountnumber, balance):
        self.name = name
        self.account_number = account_number
        self.balance = balance

    def deposit(self, amount):
        self.balance =self.balance + amount
        print("Deposited ", amount)

    def withdraw(self, amount):
        if amount <= self.balance:
            self.balance = self.balance - amount
            print("Withdraw ", amount)
        else:
            print(" Insufficient balance")

    
    def current_balance(self):
        print("Balance:", self.balance)

In [26]:
aman=Bank('gaurav',101,5000)
aman.deposit(2000)

Deposited  2000

In [29]:
#ans 15 
def check_prime(n):
    for i in range(2,n):
        if n%i==0:
            return 'not a prime number'
            
        else:
            return 'prime number'

In [31]:
check_prime(3)

'prime number'